<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xhl.world">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <!--location-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.xhl.world.AppApplication"
        android:allowBackup="true"
        android:anyDensity="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.xhl.world.ui.activity.IndexActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xhl.world.ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xhl.world.ui.webUi.WebPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xhl.world.ui.utils.barcode.ui.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xhl.world.ui.activity.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xhl.world.ui.activity.SearchDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xhl.world.ui.activity.BaseUserOpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xhl.world.ui.activity.FlashSaleDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xhl.world.ui.activity.ProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xhl.world.ui.activity.LimitSaleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xhl.world.ui.activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xhl.world.ui.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xhl.world.ui.activity.BaseContainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xhl.world.ui.activity.OrderReturnManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xhl.world.ui.activity.OrderManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xhl.world.ui.activity.ImageDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xhl.world.ui.activity.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xhl.world.chat.view.ChatRoomActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xhl.world.chat.view.MessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
<!--
        <receiver android:name=".chat.service.GlobalPushMessageHand">
            <intent-filter>
                <action android:name="com.xhl.windowOfWorld.pub.notification" />
            </intent-filter>
        </receiver>-->

      <!--  <receiver android:name=".chat.service.AppReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.avoscloud.chat.INVITATION_ACTION" />
                &lt;!&ndash;消息推送接受&ndash;&gt;
                <action android:name="com.avos.UPDATE_STATUS" />
                <action android:name="com.xhl.push.app.receiver" />
            </intent-filter>
        </receiver>

        &lt;!&ndash;LeanCloud 推送服务启动设置 &ndash;&gt;
        <service
            android:name="com.avos.avoscloud.PushService"
            android:exported="true" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>-->

        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="4eaee02c527015373b000003" />
        <!--weChat-->
        <activity
            android:name="com.xhl.world.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="tencent1105108575" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="leancloud"
            android:value="${LEAN_CLOUD_CHANNEL}" />

        <meta-data
            android:name="design_width"
            android:value="640" />
        <meta-data
            android:name="design_height"
            android:value="1136" />

    </application>

</manifest>
